DTD_XSD/1,2,3/validar.dtd

<!ELEMENT biblioteca (nombre, seccion+)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT seccion (libro+)>
<!ELEMENT libro (titulo, autor, anio?, resumen, editorial)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT anio (#PCDATA)>
<!ELEMENT resumen (#PCDATA)>
<!ELEMENT editorial (codigo?, nombre, ciudad)>
<!ELEMENT codigo (#PCDATA)>
<!ELEMENT ciudad (#PCDATA)>